body{
  padding: 1em;
  font-family: 'gist_uprightregular';
  color: cadetblue;
  background-color: white;
  background-image: url(../images/blue-paint-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  letter-spacing: 0.25em;
}

h1 {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: 'gist_uprightblack';
}

h2, h3, h4, h5, h6 {
  font-family: 'wausauregular';
  margin: 1em;
  margin-left: 5em;
}

h1 {
  font-size: 4.75em;
}

h2 {
  font-size: 3em;
}

p{
  color: black;
  padding: 0.2em;
  margin-left: -1em;
  background-color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.25em;
}

.button {
  float: right;
  margin-top: -1.5em !important;
  margin-right: 6em !important;

  background-color: transparent !important;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-image: url(../images/submit.png);
  display: block;

  height: 10em !important;
  width: 10em !important;

  text-indent: -99999px;
  overflow: visible;
}

.button:hover {
  background-color: cadetblue;
}

@media all and (max-width: 921px) {
  body {
    font-family: 'gist_uprightregular';
    background-color: white;
    color: cadetblue;
    letter-spacing: 0.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    margin: 1em;
  }

  h1 {
    font-size: 3.8em;
    bottom: 0.1em;
    right: 0.1em;
  }
}

@media all and (max-width: 737px) {
  body {
    font-family: 'gist_uprightregular';
    background-color: white;
    color: cadetblue;
    letter-spacing: 0.3em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    margin: 1em;
  }

  h1 {
    position: inherit;
  }

  .button {
    float: left;
    margin-top: 1em !important;
  }
}
