body{
  font-family: 'gist_uprightregular';
  color: cadetblue;
  background-color: white;
  background-image: url(../images/blue-paint-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  letter-spacing: 0.25em;
}

h1 {
  font-family: 'gist_uprightblack';
}

h2, h3, h4, h5, h6 {
  font-family: 'wausauregular';
}

h1 {
  font-size: 4.75em;
}

h2 {
  font-size: 3em;
}

p{
  color: black;
  letter-spacing: 0.25em;
}

@media all and (max-width: 991px){
  body {
    background-color: white;
    color: cadetblue;
    letter-spacing: 0.25em;
  }

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 1.2em;
  }
}
