<div>

  <form>
    <div>
      <label>name</label>
      <input type='text' class="form-control"  name='name'  placeholder='John Jacob Jingleheimer Schmidt' ng-model="message.name"></input>
    </div>
    <div class="row form-group">
      <label>phone</label>
      <input type='text' class="form-control"  name='phone'  placeholder='1-555-555-5555' ng-model="message.phone"></input>
    </div>
    <div class="row form-group">
      <label>message</label>
      <textarea type='text' class="form-control"  name='message' ng-model="message.message" placeholder='message here'></textarea>
    </div>
    <div class="row form-group">
      <button type="submit" id="submitContact" class="btn form-control">submit</button>
    </div>
  </form>

</div>
